{% extends 'base.html' %}

{% block title %}Message categories{% endblock %}

{% block body %}
    <h1>Message categories</h1>
    <p><b>{{ message.content }}</b></p>
    <ul>
        {% for category in categories %}
        <li><a href="/category_search/{{ category }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <form action="/api/add_category/{{ rowid }}" method="post">
        <p>Add a category: <input name="new_category" /></p>
        <input type="hidden" name="csrf" value="{{ session.csrf }}" />
        <input type="submit" value="Add" />
    </form>
{% endblock %}
