<!DOCTYPE html>
<html>

<head>
    <title>Channel search</title>
</head>

<body>
    {% if new %}
    No channels matched <i>'{{ search_term }}'</i>. <a href="/channel/{{ search_term }}">Create a new channel?</a>
    {% else %}
    {% if search_term == '' %}
    All channels:
    {% else %}
    Channels matching <i>'{{ search_term }}'</i>:
    {% endif %}
    <ul>
    {% for channel in channels %}
    <li><a href="/channel/{{ channel }}"><b>{{ channel }}</b></a></li>
    {% endfor %}
    </ul>
    {% endif %}
</body>

</html>
