<!DOCTYPE html>
<html>

<head>
    <title>{{ channel }}</title>
</head>

<body>
    {% if session.user %}
    <h2>Logged in as <i>{{ session.user }}</i>. <a href="/logout">Logout</a></h2>
    {% else %}
    <h2><a href="/login">Login</a>, <a href="/register">Register</a></h2>
    {% endif %}
    <form action="/api/channel_search" method="post">
        <p>Search for a channel: <input name="search_term" /></p>
        <input type="submit" value="Search" />
    </form>
    <h1>Channel <i>{{ channel }}</i>, {{ count }} messages.</h1>
    {% for message in messages %}
    <p><i>{{ message[0] }}</i>: <b>{{ message[1] }}</b></p>
    {% endfor %}
    {% if session.user %}
    <form action="/api/post/{{ channel }}" method="post">
        <p>Create a new post: <input name="content" /></p>
        <input type="submit" value="Post" />
    </form>
    {% endif %}
</body>

</html>
