<!DOCTYPE html>
<html>

<head>
    <title>{{ channel }}</title>
</head>

<body>
    {% if session.user %}
    <h2>Logged in as <i>{{ session.user }}</i>. <a href="/logout">Logout</a></h2>
    {% else %}
    <h2><a href="/login">Login</a>, <a href="/register">Register</a></h2>
    {% endif %}
    <form action="/api/channel_search" method="post">
        <p>
            Search for a channel or create a new one: <input name="search_term" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <h1>Channel <i>{{ channel }}</i>, {{ count }} messages.</h1>
    {% for message in messages %}
    <div class="msg">
        <i class="msg-part">
            <a href="/user/{{ message[1] }}">{{ message[1] }}</a>
        </i>:
        <b>{{ message[2] }}</b>
        {% if session.user == message[1] %}
        <form class="msg-part" action="/edit/{{ message[0] }}">
            <input type="hidden" name="csrf" value="{{ session.csrf }}" />
            <input type="submit" value="Edit" />
        </form>
        <form class="msg-part" action="/api/delete/{{ message[0] }}" method="post">
            <input type="hidden" name="csrf" value="{{ session.csrf }}" />
            <input type="submit" value="Delete" />
        </form>
        {% endif %}
    </div>
    {% endfor %}
    {% if session.user %}
    <form action="/api/post/{{ channel }}" method="post">
        <p>Create a new post: <input name="content" /></p>
        <input type="hidden" name="csrf" value="{{ session.csrf }}" />
        <input type="submit" value="Post" />
    </form>
    {% endif %}
</body>

<style>
.msg {
    display: table;
}
.msg-part {
    display: table-cell;
}
</style>

</html>
