<!DOCTYPE html>
<html>

<head>
    <title>{{ channel }}</title>
</head>

<body>
    {% if session.user %}
    <h2>Logged in as <i>{{ session.user }}</i>. <a href="/logout">Logout</a></h2>
    {% else %}
    <h2><a href="/login">Login</a>, <a href="/register">Register</a></h2>
    {% endif %}
    <form action="/api/channel_search" method="post">
        <p>
            Search for a channel or create a new one: <input name="search_term" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <h1>Channel <i>{{ channel }}</i>, {{ count }} messages.</h1>
    {% for message in messages %}
    <p>
        <i>{{ message[1] }}</i>: <b>{{ message[2] }}</b>
        {% if session.user == message[1] %}
        <a href="/api/delete/{{ message[0] }}"><small>delete</small></a>
        {% endif %}
    </p>
    {% endfor %}
    {% if session.user %}
    <form action="/api/post/{{ channel }}" method="post">
        <p>Create a new post: <input name="content" /></p>
        <input type="submit" value="Post" />
    </form>
    {% endif %}
</body>

</html>
