{% extends 'base.html' %}

{% block title %} {{ user }}'s profile {% endblock %}

{% block body %}
    <h1>{{ user }}'s profile</h1>
    <h2>Statistics</h2>
    <ul>
        <li>{{ user }}'s page has been visited {{ visits }} times.</li>
        <li>{{ user }}'s messages have been liked {{ likes }} times.</li>
    </ul>
    <h2>Messages posted by {{ user }}</h2>
    <ol>
        {% for message in messages %}
        <li><b>{{ message.content }}</b> <small>({{ message.likes }} likes, posted on <a href="/channel/{{ message.channel }}">{{ message.channel }}</a>)</small></li>
        {% endfor %}
    </ol>
    {% if session.user == user %}
    <h2>Delete account</h2>
    <form action="/api/delete_account" method="post">
        You can permanently delete your account along with all of your messages:
        <input type="submit" value="Delete account" />
        <input type="hidden" name="csrf" value="{{ session.csrf }}" />
    </form>
    {% endif %}
{% endblock %}
